.nav-item > button:hover{
  background-color: rgb(161, 200, 213);
}

a.nav-link{
 color: rgb(0, 211, 0);
 border-bottom: 1px solid black;
}

a.nav-link.active, a.nav-link.active:hover{
  color: black;
  background-color: rgb(0, 211, 0);
}

a.nav-link:hover{
  color:white;
}

.nav-pills > .nav-item > a.active{
  background-color: rgb(0, 211, 0);
  color: black;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(0, 211, 0);
  border: 1px solid black;
  border-radius: 1.5rem;
}


button.list-group-item{
  background-color: black;
  color: rgb(0, 211, 0);
  border-bottom: 1px solid rgb(0, 211, 0);
}

button.list-group-item > img{
  border:2px solid rgb(0, 211, 0);
}

button.list-group-item:hover > img{
  border:2px solid white;
}
button.list-group-item.active > img{
  border:2px solid black;
}
button.list-group-item:hover{
  color: white;
  background: none;
}
button.list-group-item.active{
  background: rgb(0, 211, 0);
  color: black;
  border:0;
  
}
button.rounded-0.btn.btn-dark{
  background-color: rgb(0, 211, 0);
  color: black;
  border:1px solid rgb(0, 211, 0);
}

div.card-header, div.card-body{
  background-color: rgb(36, 36, 36);
  border: 1px solid rgb(0, 211, 0);
}

div.card-header, div.card-body{
  font-size: 18px;
  filter: drop-shadow(10px 10px 10px rgb(36, 36, 36));
  
}

div.card{
  border: 0;
  margin-bottom: 20px;
}

.dropdown-item > p:hover{
color: black;
background: none;
}

a.dropdown-item:active, a.dropdown-item:hover{
  background: rgb(0, 211, 0);
}

.modal-dialog > .modal-content{
  background-color: rgb(36, 36, 36);
}

button.btn-close{
  background-color: rgb(0, 211, 0);
}

.iframe-container{
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

iframe{
position: absolute;
width: 200px;
height: 430px;
top: -250px;
left: -10px;
}